**/.DS_Store
**/.git
**/.gitignore
**/.idea
**/.vscode
**/.env
**/*.class
**/*.iml
**/*.log
**/target
.kiro
assets
keycloak
prometheus
eureka-server
api-gateway
insomnia.json
README.md
LICENSE
IMPROVEMENTS.md
chat.json
