# Keycloak
KEYCLOAK_DB=keycloakdb
KEYCLOAK_DB_USERNAME=joaopedroafluz
KEYCLOAK_DB_PASSWORD=docker
KEYCLOAK_DB_URL=jdbc:postgresql://keycloak-db:5432/keycloakdb

# Pet Service
PET_SERVICE_DB=petservicedb
PET_SERVICE_DB_USERNAME=joaopedroafluz
PET_SERVICE_DB_PASSWORD=docker
PET_SERVICE_DB_URL=jdbc:postgresql://localhost:5433/petservicedb

# RabbitMQ
RABBIT_MQ_HOST=rabbitmq
RABBIT_MQ_PORT=5672
RABBIT_MQ_USER=joaopedroafluz
RABBIT_MQ_PASSWORD=docker
RABBIT_MQ_QUEUE=pet.adopted.notification
RABBIT_MQ_EXCHANGE=pet.exchange
RABBIT_MQ_ROUTING_KEY=pet.adopted

# Mail (MailHog)
MAIL_HOST=mailhog
MAIL_PORT=1025
